<h1> <%= @cocktail.name %> </h1>


<% @cocktail.doses.each do |dose| %>
<p> <%= dose.description %> <%= dose.ingredient.name %></p>
<% end %>


<p><%= link_to "Add Dose", new_cocktail_dose_path(@cocktail) %></p>

<p><%= link_to "Back to List", cocktails_path %></p>
